@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background:  #f5f5f5;
	color: #333;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 20px 40px;
}

.check{
	width: 400px;
	display: row;
	flex-flow: column nowrap;
		
}
#logo {
    display: block;
    width: 128px;
    height: 25px;
    background-image: url('../img/logo_black.png'); /* 기본 이미지 */
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

#logo:hover {
    background-image: url('../img/logo1.png'); /* 호버 시 이미지 변경 */
}


.header .title {
	font-size: 24px;
	font-weight: bold;
}

.header .user-info {
	font-size: 16px;
}

#user_name {
	font-size: 16px;
	font-weight: bold;
	
}

#logout {
	font-size: 12px;
	color: black;
	text-decoration: none;
}

#logout:hover{
	font-weight: bolder;
	text-decoration: underline;
}

.main-content {
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 40px;
	margin-top: 20px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-section {
	width: 40%;
	text-align: center;
	border-right: 1px solid #ddd;
	padding-right: 20px;
}

.profile-section img {
	width: 100px;
	height: 100px;
	border: 3px solid #e9e9e9;
	border-radius: 50%;
	margin-bottom: 10px;
}

.profile-section h2 {
	margin: 10px 0;
	font-size: 20px;
}

.ott-sharing p {
	display: inline-block;
	width: 60%;
	margin: 15px 5px;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background: #FFFFFF;
	border: 1px solid #6B7280;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
}
	
.form-section {
	width: 55%;
	padding-left: 20px;
}

.form-section label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-section input {
	width: 80%;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.form-section .actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-section .actions a {
	color: red;
	text-decoration: underline;
}
.form-section .actions a:hover {
	color: red;
	text-decoration: underline;
	font-weight: bolder;
}

.form-section .actions button {
	width: 150px;
	height: 50px;
	background: #007BFF;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.form-section .actions button:hover {
	background: #0056b3;
}


.footer {
    text-align: left;
    margin-top: 30px;
    padding: 20px;
    background: #fff; 
    border-top: 3px solid #0082E0;
}

.footer p {
    margin: 10px 0;
    font-size: 12px;
    color: #6c757d;
}

#footer_values {
	margin: 20px 0;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0px;
}